name: CI-BackEnd

#  Quando o pipeline ser谩 executado
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

#  Jobs
jobs:
  build:
    name: Build e Testes
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do c贸digo
        uses: actions/checkout@v3

      - name: Cache Maven packages
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Configurar Java
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Build Maven
        run: |
          cd CRUD
          mvn clean install

      - name: Executar Testes
        run: |
          cd CRUD
          mvn test

      - name: Upload Relat贸rios de Teste
        uses: actions/upload-artifact@v4
        with:
          name: test-report
          path: CRUD/target/surefire-reports/

      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: crud-target
          path: CRUD/target

  sonar:
    name: An谩lise SonarCloud
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout do c贸digo
        uses: actions/checkout@v3

      - name: Cache Maven packages
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Configurar Java
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: crud-target
          path: CRUD/target

      - name: Build para Sonar
        run: |
          cd CRUD
          mvn verify -DskipTests

      - name: SonarCloud Scan
        run: |
          cd CRUD
          mvn sonar:sonar \
              -Dsonar.projectKey=Grupo-3-3ADSC_CogniFlow-Backend \
              -Dsonar.organization=grupo-3-3adsc \
              -Dsonar.host.url=https://sonarcloud.io \
              -Dsonar.login=${{ secrets.SONAR_TOKEN }} \
              -Dsonar.java.binaries=target/classes

  deploy:
    name: Deploy para AWS
    runs-on: ubuntu-latest
    needs: [build, sonar]
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    steps:
      - name: Checkout do c贸digo
        uses: actions/checkout@v3

      - name: Configurar SSH e fazer deploy no servidor
        uses: appleboy/ssh-action@v0.1.5
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd ~/CogniFlow-Backend/CRUD
            git pull origin main
            cd ~/microservico-verificacao-de-senha
            git pull origin main
            cd ~/CogniFlow-Backend/CRUD
            docker-compose down
            docker-compose build
            docker-compose up -d
